@model lms.Models.Catalog.AssetDetailModel
<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted"> View Library Item</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.ImageUrl" />
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <p id="itemTitle">@Model.Title</p>
                <p id="itemAuthor">@Model.AuthorOrDirector</p>
                <p id="itemStatus">@Model.Status</p>
                <p id="itemType">@Model.Type</p>
                <p id="itemLocation">@Model.CurrentLocation</p>

                @if (Model.Status == "Lost")
                {
                    <p id="itemStudent">This item has been lost. It cannot be checked out.</p>
                    <p><a class="btn btn-lg btn-danger" role="button" asp-controller="Catalog" asp-action="MarkFound" asp-route-id="@Model.AssetId">Mark Item Found</a></p>

                }
                @if (Model.Status == "Checked Out")
                {
                    <p id="itemStudent">Checked out by: @Model.StudentName</p>
                    <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="CheckIn" asp-route-id="@Model.AssetId">Check In</a></p>
                    <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Place Hold</a></p>
                }

                @if (Model.Status == "Available")
                {
                    <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.AssetId">Check Out</a></p>
                }


                <section>
                </section>
            </div>
        </div>
        <div class="col-md-4 detailInfo">
            <table>
                <tr>
                    <td class="itemLabel">ISBN: </td>
                    <td class="itemValue">@Model.ISBN</td>
                </tr>
                <tr>
                    <td class="itemLabel">Call Number: </td>
                    <td class="itemValue">@Model.DeweyIndex</td>
                </tr>
                <tr>
                    <td class="itemLabel">Replacement Cost: </td>
                    <td class="itemValue">@Model.Cost</td>
                </tr>
            </table>
        </div>
    </div>
</div>